### Analysis of ETH based on previous 365 days of trading data.

In [23]:
df_eth.head(21)

       Date    Open    High     Low   Close         Volume
0   3/16/19  137.91  144.56  137.91  142.40  4,839,003,569
1   3/15/19  133.57  138.40  133.57  137.69  4,506,861,856
2   3/14/19  133.20  135.18  132.75  133.71  4,476,532,147
3   3/13/19  134.61  134.61  132.72  133.26  4,265,162,099
4   3/12/19  134.01  135.27  130.94  134.44  4,709,988,000
5   3/11/19  136.85  137.35  133.10  133.83  4,689,807,419
6   3/10/19  138.18  138.27  135.69  136.76  4,578,438,499
7    3/9/19  134.89  139.12  134.68  137.97  5,011,918,715
8    3/8/19  138.31  139.50  133.56  135.13  4,678,816,794
9    3/7/19  138.94  140.86  137.27  138.03  4,339,206,292
10   3/6/19  137.96  139.97  136.15  138.79  4,589,054,219
11   3/5/19  127.79  138.23  126.74  137.82  4,764,849,990
12   3/4/19  132.16  132.73  125.40  127.77  4,008,171,341
13   3/3/19  134.79  135.85  131.33  132.25  3,454,374,053
14   3/2/19  136.35  137.18  132.44  134.21  3,747,176,425
15   3/1/19  136.84  139.00  136.43  136.44  3,756,124,824
16  2/28/19  136.28  138.85  135.66  136.75  4,535,438,953
17  2/27/19  138.03  141.34  131.60  136.13  4,469,776,860
18  2/26/19  139.65  139.98  136.58  138.09  3,791,292,839
19  2/25/19  135.50  142.53  135.48  139.82  4,914,392,068
20  2/24/19  158.90  165.55  135.85  135.85  5,957,715,043

In [25]:
df_eth.head(20)

       Date    Open    High     Low   Close         Volume     MA10      MA50
49  1/26/19  116.37  118.08  115.98  116.49  2,412,181,169  109.141  127.8150
50  1/25/19  117.59  117.80  115.83  116.38  2,606,881,898  109.997  127.2946
51  1/24/19  117.46  118.03  116.01  117.36  2,520,843,420  110.984  126.8880
52  1/23/19  118.71  119.42  116.38  117.45  2,556,952,198  111.686  126.5628
53  1/22/19  117.11  119.66  114.68  118.75  2,552,507,405  112.800  126.2726
54  1/21/19  119.64  119.72  116.16  117.16  2,421,720,343  113.810  125.9270
55  1/20/19  124.63  125.07  118.70  119.47  2,964,108,269  114.866  125.6398
56  1/19/19  121.61  125.90  121.16  124.52  3,048,261,797  116.758  125.3950
57  1/18/19  123.65  123.84  120.24  121.01  2,305,389,800  118.200  125.0558
58  1/17/19  123.57  124.27  120.82  123.74  2,594,091,285  119.233  124.8280
59  1/16/19  121.81  127.12  121.44  123.55  2,746,469,340  119.939  124.5384
60  1/15/19  129.17  130.74  120.31  122.03  2,735,449,164  120.504  124.2032
61  1/14/19  116.98  130.86  116.97  129.07  2,798,085,735  121.675  124.0282
62  1/13/19  125.91  126.27  116.09  116.90  2,268,263,944  121.620  123.8108
63  1/12/19  127.53  128.67  125.45  125.97  2,212,109,224  122.342  123.6852
64  1/11/19  127.81  130.17  125.24  127.55  2,667,585,234  123.381  123.5520
65  1/10/19  150.84  152.15  126.53  128.63  3,397,734,456  124.297  123.3958
66   1/9/19  150.55  153.62  150.29  150.80  2,369,241,197  126.925  123.6768
67   1/8/19  151.97  153.63  148.67  150.36  2,459,808,140  129.860  123.9614
68   1/7/19  157.81  158.45  151.15  151.70  2,712,108,388  132.656  124.2336

### Probability price will drop over a certain percentage in one day

In [12]:
# probability that the price of ETH will drop over 5% in a day
prob_return1 = norm.cdf(-0.05, mu, sigma)
print('The probability is', prob_return1)

The probability is 0.1467446142

In [13]:
# probability that the price of ETH will drop over 10% in a day
prob_return2 = norm.cdf(-0.10, mu, sigma)
print('The probability is', prob_return2)

The probability is 0.0224024876

### Probability price drop over a certain percentage over time

In [14]:
# drop over 10% in 7 days
mu7 = 7*mu
sigma7 = (7**0.5) * sigma
drop7 = norm.cdf(-0.1, mu7, sigma7)
print('The probability of dropping over 10% in 7 days is', drop7)

The probability of dropping over 10% in 7 days is 0.165346588526

In [15]:
# drop over 20% in 7 days
mu7 = 7*mu
sigma7 = (7**0.5) * sigma
drop7 = norm.cdf(-0.2, mu7, sigma7)
print('The probability of dropping over 20% in 7 days is', drop7)

The probability of dropping over 20% in 7 days is 0.0450022755696

In [16]:
# drop over 10% in 14 days
mu14 = 14*mu
sigma14 = (14**0.5) * sigma
drop14 = norm.cdf(-0.1, mu14, sigma14)
print('The probability of dropping over 10% in 14 days is', drop14)

The probability of dropping over 10% in 14 days is 0.193618886744

In [17]:
# drop over 20% in 30 days
mu30 = 30*mu
sigma30 = (30**0.5) * sigma
drop20 = norm.cdf(-0.2, mu30, sigma30)
print('The probability of dropping over 20% in 30 days is', drop20)

The probability of dropping over 20% in 30 days is 0.112024503892

In [18]:
# drop over 30% in 30 days
mu30 = 30*mu
sigma30 = (30**0.5) * sigma
drop30 = norm.cdf(-0.3, mu30, sigma30)
print('The probability of dropping over 30% in 30 days is', drop30)

The probability of dropping over 30% in 30 days is 0.058802315992

In [19]:
# drop over 20% in 220 days
mu220 = 220*mu
sigma220 = (220**0.5) * sigma
drop20 = norm.cdf(-0.2, mu220, sigma220)
print('The probability of dropping over 20% in 220 days is', drop20)

The probability of dropping over 20% in 220 days is 0.048487895305

In [20]:
# drop over 40% in 220 days
mu220 = 220*mu
sigma220 = (220**0.5) * sigma
drop40 = norm.cdf(-0.4, mu220, sigma220)
print('The probability of dropping over 40% in 220 days is', drop40)

The probability of dropping over 40% in 220 days is 0.0275869301987

### For education purposes only. This information is not financial advice.