### Analysis of ETH Based On Previous 365 Days of Trading Data

In [14]:
df_eth.shape

(365, 6)

In [15]:
df_eth.head(21)

       Date    Open    High     Low   Close          Volume
0    4/8/19  174.45  184.38  174.16  180.26   9,304,964,610
1    4/7/19  165.98  175.21  164.93  174.53   7,596,176,020
2    4/6/19  165.51  172.52  161.80  165.95   7,167,016,221
3    4/5/19  158.02  167.22  157.44  165.51   7,531,316,908
4    4/4/19  161.43  164.93  155.24  158.05   7,953,123,529
5    4/3/19  164.01  178.32  157.32  161.46  10,622,456,246
6    4/2/19  141.84  165.23  141.64  163.96   9,826,645,698
7    4/1/19  141.47  142.73  140.74  141.83   4,611,999,536
8   3/31/19  142.14  142.19  140.70  141.51   4,249,050,197
9   3/30/19  142.36  149.61  141.03  142.09   5,144,662,127
10  3/29/19  139.34  142.55  138.05  142.50   5,125,602,702
11  3/28/19  141.01  141.01  138.43  139.42   4,163,212,475
12  3/27/19  135.45  141.08  135.34  140.99   5,228,240,093
13  3/26/19  135.05  135.46  133.76  135.46   4,499,271,679
14  3/25/19  137.08  137.70  133.49  135.03   4,480,516,753
15  3/24/19  138.32  138.38  136.31  136.99   4,266,845,458
16  3/23/19  137.04  139.39  136.91  138.24   4,436,568,613
17  3/22/19  136.56  138.79  136.23  137.18   4,490,899,266
18  3/21/19  140.48  141.00  135.86  136.64   5,087,247,796
19  3/20/19  140.48  140.95  138.31  140.69   4,664,134,462
20  3/19/19  139.25  140.99  139.14  140.52   4,251,488,129

In [17]:
df_eth.head(20)

       Date    Open    High     Low   Close         Volume     MA10      MA50
49  2/18/19  133.03  147.69  133.00  146.10  5,387,525,773  144.491  143.0068
50  2/17/19  123.18  134.46  123.09  133.60  4,236,081,130  144.238  142.0736
51  2/16/19  122.40  124.13  122.30  123.26  2,905,833,287  142.755  141.0482
52  2/15/19  121.45  123.66  121.37  122.10  3,021,741,615  140.983  140.1712
53  2/14/19  122.42  124.45  121.33  121.39  3,331,701,628  139.537  139.2888
54  2/13/19  122.54  125.55  121.61  122.55  3,386,585,799  135.912  138.5788
55  2/12/19  121.18  123.47  119.60  122.57  3,149,576,429  133.260  137.8010
56  2/11/19  124.87  124.87  120.31  121.30  3,222,473,887  130.777  136.9478
57  2/10/19  119.41  124.85  117.11  124.81  3,148,766,590  128.303  136.6074
58   2/9/19  119.21  120.69  118.00  119.43  2,884,650,400  125.711  136.1658
59   2/8/19  104.65  119.81  104.19  119.27  3,656,841,347  123.028  135.7094
60   2/7/19  104.84  106.06  104.41  104.54  2,326,764,622  120.122  134.9502
61   2/6/19  107.57  107.57  102.93  104.92  2,593,048,199  118.288  134.2602
62   2/5/19  107.63  108.13  106.91  107.44  2,515,863,999  116.822  133.5892
63   2/4/19  107.63  108.70  107.07  107.82  2,491,888,675  115.465  133.0364
64   2/3/19  110.49  110.83  106.56  107.49  2,519,334,757  113.959  132.4856
65   2/2/19  107.47  110.65  106.76  110.43  2,385,157,838  112.745  131.9544
66   2/1/19  107.15  108.64  105.05  107.61  2,541,271,519  111.376  131.3418
67  1/31/19  108.90  110.46  106.53  107.06  2,828,796,031  109.601  130.7394
68  1/30/19  105.41  109.45  104.84  108.91  2,874,370,355  108.549  130.1848

### Probability price will drop over a certain percentage in one day

In [25]:
# probability that the price of ETH will drop over 5% in a day
prob_return1 = norm.cdf(-0.05, mu, sigma)
print('The probability is', prob_return1)

The probability is 0.15307828856

In [26]:
# probability that the price of ETH will drop over 10% in a day
prob_return2 = norm.cdf(-0.10, mu, sigma)
print('The probability is', prob_return2)

The probability is 0.0235530107563

### Probability price will drop over a certain percentage over time

In [27]:
# drop over 10% in 7 days
mu7 = 7*mu
sigma7 = (7**0.5) * sigma
drop10 = norm.cdf(-0.1, mu7, sigma7)
print('The probability of dropping over 10% in 7 days is', drop10)

The probability of dropping over 10% in 7 days is 0.186896097265

In [28]:
# drop over 20% in 7 days
mu7 = 7*mu
sigma7 = (7**0.5) * sigma
drop20 = norm.cdf(-0.2, mu7, sigma7)
print('The probability of dropping over 20% in 7 days is', drop20)

The probability of dropping over 20% in 7 days is 0.0529806460355

In [29]:
# drop over 10% in 14 days
mu14 = 14*mu
sigma14 = (14**0.5) * sigma
drop10 = norm.cdf(-0.1, mu14, sigma14)
print('The probability of dropping over 10% in 14 days is', drop10)

The probability of dropping over 10% in 14 days is 0.228569387549

In [30]:
# drop over 20% in 30 days
mu30 = 30*mu
sigma30 = (30**0.5) * sigma
drop20 = norm.cdf(-0.2, mu30, sigma30)
print('The probability of dropping over 20% in 30 days is', drop20)

The probability of dropping over 20% in 30 days is 0.14956828905

In [31]:
# drop over 30% in 30 days
mu30 = 30*mu
sigma30 = (30**0.5) * sigma
drop30 = norm.cdf(-0.3, mu30, sigma30)
print('The probability of dropping over 30% in 30 days is', drop30)

The probability of dropping over 30% in 30 days is 0.0823299168533

In [32]:
# drop over 20% in 220 days
mu220 = 220*mu
sigma220 = (220**0.5) * sigma
drop20 = norm.cdf(-0.2, mu220, sigma220)
print('The probability of dropping over 20% in 220 days is', drop20)

The probability of dropping over 20% in 220 days is 0.121286476241

In [33]:
# drop over 40% in 220 days
mu220 = 220*mu
sigma220 = (220**0.5) * sigma
drop40 = norm.cdf(-0.4, mu220, sigma220)
print('The probability of dropping over 40% in 220 days is', drop40)

The probability of dropping over 40% in 220 days is 0.0766432107415

### For educational use only. This information is not financial advice.